 .form-group{
    animation-duration: 3s;
    animation-name: slidein;
    line-height: 2pc;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  h1{
    line-height: 0%;
}
button{
    line-height: -12pc;
}

 
.container {
    width: 100vw;
    height: 100vh;
    background: #4d5761;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid; place-items: center;
    padding-top: 2;
    } 
    .form-group{
        line-height: 2px;
        
    }         

     body {
       margin: 30px;
      }
      



        